.FullWidthHOC {
  background-color: #f4f5f6;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.HOC {
  max-width: 1450px;
  margin: auto;
  /* border: 1px solid red; */
}

.HOC_Admin_Panel {
  display: grid;
  grid-template-columns: 22% 78%;


  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.child-component{
  @media screen and (max-width: 768px) {
    display: block;

  }
}